#new{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(124, 120, 114);
    margin-left: 3px;
  
    
}
#div{
    margin-bottom: 10%;
    margin-top: 10%;
}
span{
    color: aqua;
    font-size: 20px;
}
.span{
    font-size: 37px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
.hr-container {
    display: flex; /* Use Flexbox to align items horizontally */
    justify-content: center; /* Center the <hr> elements horizontally */
    align-items: center; /* Center align items vertically */
    gap: 10px; /* Set the space between the <hr> elements */
    padding: 10px; /* Optional: Add padding around the container */
  }
  
  .hr {
    
    border: 2px solid rgb(1, 197, 204); /* Blue color for the top border */
    width: 35px; /* Fixed width for each <hr> */
    margin: 0; /* Remove default margin */
  }
  
  